body
 { background-color:white; background-image:url(back.png);
   font-family:verdana,sans-serif; margin:0px; text-align:center; vertical-align:middle; }

table, td
 { background-color:black; color:#DDDDEE; font-size:14px;
   font-family:verdana,sans-serif; padding:10px; text-align:justify; }
table.maintable
 { border-left:dashed 2px #003366; border-right:dashed 2px #003366; padding:0px; margin:auto; }

img.ss
 { border:dashed 1px #990000; }
img.dl
 { border:dashed 1px #006600; }

a
 { text-decoration:underline; color:#DDDDEE; font-weight:bold; }